doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/main-menu/main-menu.pug
    include ../components/slider/slider.pug
    include ../components/bread-crumbs/bread-crumbs.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)

    body
        |%=symbols=%

        +header(headerData)
        +main-menu(mainLinks)
        +slider(mainLinks)
        +bread-crumbs(breatCrumbsLinks)
        main.main
            section.catalog
                aside.catalog__aside
                   //- catalog-menu() 
                .catalog__content
                    //- catalog-items()
        +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')