.footer{
	display: block;
	padding: 4em 0;
	text-align: left;
	background-color: #777;
	&__info, &__menu{
		display: inline-block;
		text-align: left;
		color: #fff;
		vertical-align: top;
	}
	&__info{
		width: 40%;
	}	
	&__copyright, &__email{
		font-family: $PTSans;
		font-size: 1.4em;
		text-decoration: none;
		line-height: 1.6;
		color: #fff;
	}
}
.footer-menu{
	display: block;
	&__item{
		display: block;
		font-family: $PTSans;
		font-size: 1.4em;
		line-height: 1.7;
		color: #fff;		
		text-decoration: underline;
		&_active, &:hover{
			text-decoration: none;
		}	
	}
}