.catalog-menu{
	display: block;
	padding: 0 0 1em 0;
	list-style: none;
	LI{
		display: block;
	}
	&__item{
		display: block;
		padding: .4em 1em .4em 0;
		list-style: none;
	}
	&__link{
		color: #767676;
		font-family: "PT Sans", Arial, sans-serif;
		font-size: 1.8em;
		text-decoration: none;
		&_active, &:hover{
			text-decoration: underline;
		}
	}
	&__sub-menu{
		display: block;
		padding: 0;
		list-style: none;
	}
	&__sub-item{
		padding: .2em .5em .2em 1.5em;
		&:before{
			content: "•";
			color: #767676;
			font-size: 1.4em;
			padding-right:.3em;
		}		
	}
	&__sub-link{
		color: #767676;
		font-family: "PT Sans", Arial, sans-serif;
		font-size: 1.4em;
		text-decoration: none;
		&_active, &:hover{
			text-decoration: underline;
			color: #010101;
		}		
	}
}

.cat-price{
	display: block;
	padding: 5em 0 2em 0;
	text-align: center;

	&__link{
		display: inline-block;
		text-decoration: none;
		font-family: "PT Sans", Arial, sans-serif;
		font-weight: bold;
		font-size: 3em;
		color: #444;
		background-image: url("/static/img/content/ms-exel.png");
		background-position: top center;
		background-repeat: no-repeat;
		text-align: center;
		margin: auto;
		padding: 3.5em 0 0 0;
		&:hover{
			text-decoration: underline;
		}	
	}
}