.header{
	background-color: #dcdcdc;
	&__tb{
		display: table;
	}
	&__cell{
		display: table-cell;
		padding: 3.6em 1em 6.1em 1em;
		vertical-align: top;	
	}
	&__left{
		text-align: left;
		padding-left: 0;
	}
	&__right{
		text-align: right;
		padding-right: 0;
	}	
}

.logo{
	display: inline-block;
	margin-top:2.9em;
	&__img{
		display: inline-block;
		@include bg($logo);
	}
}

.contacts{
	display: inline-block;
	&__phone,
	&__feedback{
		display: block;	
		color: #767676;
		text-decoration: none;
		letter-spacing: .025em;
	}
	& A:hover{
		color: #000;
	}
	&__phone{
		font-family: $OpenSansCondensed;		
		font-size: 4em;
		line-height: 1.1;
	}
	&__feedback{
		display: inline-block;
		position: relative;
		z-index: 0;
		font-size: 2.4em;
		font-family: $PTSans;
		font-weight: bold;
		padding-top: .13em;
		&:after{
			display: block;
			position: absolute;
			content: "";
			height: 0;
			width: 100%;
			overflow: hidden;
			font-size:0;
			border-bottom: 2px dashed;
			bottom: 1px;
		}		
	}	
}