.bread-crumbs{
	display: block;
	padding: 0.14em 0;

	&__item{
		display: inline-block;
		padding: 0.3em 0.89em;
		position: relative;
		z-index: 0;
		font-family: $PTSans;
		font-size: 1.4em;
		color: #767676;
		text-decoration: underline;
		word-spacing: .2em;
		&:first-child{
			padding-left:0;
		}
		&_active{
			text-decoration: none;
		}

		&:after{
			content: "/";
			position: absolute;
			right: 0;
			z-index: 0;
			text-decoration: none;
		}
		&:last-child:after{
			display: none;
		}		
	}
	A.bread-crumbs__item:hover{
		color: #000;
	}	
}